@model Staff
@{
    ViewBag.Title = "修改员工信息";
    ViewBag.staffmanage = "active";
}

@*@using (Html.BeginForm())
{*@
    <div>
        <h2 class="text-success">修改员工信息</h2>

        <div class="form-inline" style="margin:5px">
            <label for="staffname" style="width:100px">员工姓名：</label>
            <input type="text" name="staffname" value="@Model.StaffName" class="form-control" placeholder=""><i class="mark-red">*</i>
            <label for="mobile" style="width:100px">电话：</label>
            <input type="text" name="mobile" value="@Model.Mobile" class="form-control" placeholder=""><i class="mark-red">*</i>
        </div>
        <div class="form-inline" style="margin:5px">
            <label for="area" style="width:100px">区域：</label>
            <select name="area" class="form-control" style="width: 180px;" area="@Model.Area">
                <option>华北</option>
                <option>华东</option>
                <option>华南</option>
                <option>华西</option>
                <option>庞大</option>
                <option>管理</option>
            </select><i class="mark-red">*</i>
            <label for="position" style="width:100px">职位：</label>
            <select name="position" position="@Model.Position" class="form-control" style="width: 180px;"></select><i class="mark-red">*</i>
        </div>
        <div class="form-inline" style="margin:5px">
            <i class="mark-tips">Tips：*为必填项！</i>
        </div>     
        <div class="form-inline " style="margin:5px">
            <button type="submit" class="btn btn-primary active">修改</button>
            <button type="button" class="btn btn-primary goback">返回</button>
        </div>
    </div>
@*}*@
<script>
    $(function () {
        //获取区域信息
        getArea();
        //获取职位信息
        getStaffPosition();

        $("button[type=submit]").click(function () {
            if (validateNull()) {
                return;
            }
            savedata();
        });

    })

    function savedata() {
        var postdata = {
            id: lee.common.getquerystring("Id"),
            staffName: $("[name=staffname]").val(),
            mobile: $("[name=mobile]").val(),
            area: $("[name=area]").val(),
            position: $("[name=position]").val()
        };
        $.ajax({
            type: "post",
            url: "EditStaff",
            data: postdata,
            dataType: "json",
            success: function (data) {
                location.href = "/home/StaffManage";
            }
        });
    }

    function validateNull() {
        var isNull = false;
        var staffName = $("[name=staffname]").val();
        var mobile = $("[name=mobile]").val();
        var area = $("[name=area]").val();
        var position = $("[name=position]").val();

        if (!staffName) {
            alert("员工姓名不能为空！");
            isNull = true;
            return isNull;
        }
        if (!mobile) {
            alert("电话不能为空！");
            isNull = true;
            return isNull;
        }
        var mobileMatch = /^(1(([35][0-9])|(47)|[8][01236789]))\d{8}$/;
        if (!mobileMatch.test(mobile)) {
            alert("电话格式不正确！要填写手机号哦！");
            isNull = true;
            return isNull;
        }
        if (!area) {
            alert("区域选择不能为空！");
            isNull = true;
            return isNull;
        }
        if (!position || position == "0") {
            alert("职位选择不能为空！");
            isNull = true;
            return isNull;
        }
        return isNull;
    }

    function getArea() {
        var area = $("[name=area]").attr("area");
        $("[name=area] option").each(function () {
            if ($(this).html() == area)
                $(this).attr("selected","selected");
        });
    }

    function getStaffPosition() {
        $.ajax({
            type: "POST",
            url: "../../Handler/MyHandler.ashx",
            data: {
                opertype: "getstaffpositionlist"
            },
            success: function (data) {
                var position = $("[name=position]").attr("position");
                if (data && data.length > 0) {
                    var optionHtml = "<option value='0'>--请选择--</option>";
                    $.each(data, function (i, o) {
                        if (o.PositionName == position)
                            optionHtml += "<option selected='selected' value=" + o.PositionName + ">" + o.PositionName + "</option>";
                        else
                            optionHtml += "<option value=" + o.PositionName + ">" + o.PositionName + "</option>";
                    });
                    $("[name=position]").append(optionHtml);
                }
            },
            error: function () { }
        })
    }
</script>